.imageGallery {
  padding: 0;
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 998px) {
  .imageGallery {
    display: flex;
    width: 95%;
    margin: auto;
    list-style: none;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    transition: all 0.3s ease-in-out;
  }
}
