.profileImageContainer {
  position: relative;
}

.xxl {
  composes: profileImageContainer;
  width: 20rem;
  height: 20rem;
  margin-right: 2rem;
}

.xl {
  composes: profileImageContainer;
  width: 15rem;
  height: 15rem;
  margin-right: 2rem;
}

.lg {
  composes: profileImageContainer;
  width: 11rem;
  height: 11rem;
  margin-right: 2rem;
}

.md {
  composes: profileImageContainer;
  width: 7rem;
  height: 7rem;
  margin-right: 2rem;
}

.sm {
  composes: profileImageContainer;
  width: 4rem;
  height: 4rem;
  margin-right: 1rem;
}

.xs {
  composes: profileImageContainer;
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
}

.profileImage {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  margin-bottom: 0.5rem;
  margin-right: 2rem;
  overflow: hidden;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
}

.profileImage img {
  min-height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.editProfileImage {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: all 0.2s ease-in-out;
}

.profileImage:hover {
  border-radius: 3px;
}
