.page {
  height: calc(100vh - 75px);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.scrollable {
  height: 100%;
  overflow-y: auto;
}

.content {
  min-height: calc(100vh - 75px - 314px - 1rem);
}
